/* reset */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    display: block;
}
/* universal properties */
.col-6{
    width: 50%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* main */
body{
    font-family: "Poppins", sans-serif;;
    background: rgb(91,83,224);
    background: linear-gradient(90deg, rgb(113, 107, 235) 0%, rgba(0,212,255,1) 100%); 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 70%;
    background: rgb(35,41,50);
    background: linear-gradient(171deg, rgba(35,41,50,1) 0%, rgba(0,0,0,1) 100%);
    box-shadow: -19px 14px 44px -5px rgba(0,0,0,1);
}
.content-wrap{
    padding: 50px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-image{
    margin-left: -15px;
}
.nav-bar{
    display: flex;
}
.nav-menu{
    display: flex;
    list-style: none;
}
.nav-item:not(:last-child){
    margin-right: 25px;
}
.nav-link{
    font-weight: 500;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    transition: transform .2s;
}
.nav-link:hover{
    color: rgba(0,212,255,1);
    transform: scaleX(1.05);
}
.hamburger-menu{
    list-style: none;
    display: none;
}
.page-title{
    color: white;
    font-weight: 400;
    letter-spacing: 1.5px;
    font-size: 2.5rem;
}
.page-subtitle{
    color: #38adeb;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.page-paragraph{
    color: white;
    text-align: justify;
    font-size: 12px;
    margin-bottom: 30px;
}
.main-content-wrap{
    width: 25vw;
}
.form{
    display: flex;
    width: 60%;
    flex-direction: column;
}
.form-item{
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 50px;
}
.submit-btn{
    width: 40%;
    padding: 8px 8px;
    cursor: pointer;
    background-color: #38adeb;
     transition: transform .2s;
}
.submit-btn:hover{
    background-color: yellow;
    transform: scaleX(1.01);
}
.brand-link{
    color: white;
    font-size: 12px;
    font-weight: 500;
}
.person-img{
    height: 400px;
    width: 370px;
}
/* responsive */
/* Styles for screens smaller than 768px */
@media (max-width: 768px) {
    .container{
        width: 100vw;
        height: auto;
    }
    .brand-image{
        width: 30vw;
        height: auto;
        margin-left: -10px;
    }
    .nav-menu{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }
    .nav-link{
        padding: 0;
        font-size: 30px;
    }
    .content-wrap{
        padding: 30px;
    }
    .row{
        flex-direction: column;
    }
    .col-6{
        width: 100%;
    }
    .main-content-wrap{
        width: 100%;
    }
    .form-item{
        width: 60vw;
    }
    .submit-btn{
        width: 30vw;
    }
    
}



